# python==3.10.14

# 核心深度学习框架 (安装时需指定 cu121 源)
# pip install -r requirements.txt --index-url https://download.pytorch.org/whl/cu121
# 查看自己电脑的CUDA版本 nvidia-smi 在torch官网查找对应GPU版本
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# torch>=2.4.0
# torchvision>=0.19.0

# CNN识别
ultralytics==8.3.0
timm==1.0.25
#进度条
tqdm==4.67.3



# VLM 交互
ollama==0.6.1

# Web 服务
streamlit==1.54.0

# 图像处理
pillow==10.4.0
opencv-python==4.10.0.84

# 工具
numpy==2.2.6
requests==2.32.5